.card__title{
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  height: 48px;
  margin-top: 80px;
  margin-bottom: 48px;
}
.cards {
  list-style: none;
  width: 1212px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 6px;
  gap: 32px;
  margin: 0 auto 103px ; 
  padding: 0;
}